:root {
    --primary-dark: #0C1426;
    --secondary-dark: #1A2234;
    --accent-dark: #323C51;
    --primary-yellow: #E0C422;
    --secondary-yellow: #f9e2af;
    --primary-blue: #1368F5;
    --secondary-blue: #2854AB;
    --accent-blue: #4BB8FF;
    --primary-dark-blue: #1D6FA4;
    --secondary-dark-blue: #162C5A;
    --primary-white: #E3EEF5;
    --primary-black: #060A14;
    --primary-green: #a6e3a1;
    --dark-background-blue: #010D26;

}

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-dark {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-white);
}

.btn-black {
    background-color: var(--primary-black);
    border-color: var(--primary-white);
    color: var(--primary-white);
}

.btn-black:hover {
    background-color: var(--primary-black);
    border-color: var(--primary-white);
    color: var(--primary-white);
    opacity: 0.8;
}

.btn-warning {
    border-color: var(--primary-yellow);
    background-color: var(--primary-yellow);
    color: var(--primary-black);
}

.btn-outline-warning {
    border-color: var(--primary-yellow);
    color: var(--primary-yellow);
}

.btn-outline-warning:hover {
    background-color: var(--primary-yellow);
    border-color: var(--primary-yellow);
    color: var(--primary-black);
}

.btn-outline-light {
    border-color: var(--primary-white);
    color: var(--primary-white);
}

.btn-outline-light:hover {
    background-color: var(--primary-white);
    border-color: var(--primary-white);
    color: var(--primary-black);
}

.btn-outline-dark {
    border-color: var(--primary-dark);
    color: var(--primary-dark);
}

.btn-outline-dark:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-white);
}

.btn-primary {
    border-color: var(--primary-blue);
    background-color: var(--primary-blue);
    color: var(--primary-white);
}

.btn-accent-dark {
    border-color: var(--accent-dark);
    background-color: var(--accent-dark);
    color: var(--primary-white);
}

.btn-accent-dark:hover {
    border-color: var(--accent-dark);
    background-color: var(--accent-dark);
    color: var(--primary-white);
    opacity: 0.8;
}

.btn-accent-blue {
    border-color: var(--accent-blue);
    background-color: var(--accent-blue);
    color: var(--primary-dark);
}

.btn-accent-blue:hover {
    border-color: var(--accent-blue);
    background-color: var(--accent-blue);
    color: var(--primary-dark);
    opacity: 0.8;
}

.btn-modal-close {
    color: var(--primary-white);
}

.btn-modal-close:hover {
    opacity: 0.8;
}

.btn-modal-close:active {
    opacity: 1;
}

.nav-search-btn {
    display: inline-block;
    line-height: 1.5;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    border: 1px solid var(--primary-dark-blue);
    background-color: var(--primary-dark-blue);
    color: var(--primary-white);
    width: 100%;
    max-width: 300px;
    text-align: start;
}

.nav-search-btn:hover,
.nav-search-btn:focus {
    background-color: var(--primary-dark-blue);
    color: var(--primary-white);
    border-color: var(--primary-white);
}

.nav-search-btn:active {
    border-color: var(--primary-dark-blue);
}

.bg-primary-dark {
    background-color: var(--primary-dark);
}

.bg-secondary-dark {
    background-color: var(--secondary-dark);
}

.bg-accent-blue {
    background-color: var(--accent-blue);
}

.bg-accent-dark {
    background-color: var(--accent-dark);
}

.nav-link {
    color: var(--primary-white);
}

.nav-link.active {
    color: var(--primary-yellow) !important;
    font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-yellow);
}

.text-warning {
    color: var(--primary-yellow);
}

.text-white {
    color: var(--primary-white);
}

.text-accent-blue {
    color: var(--accent-blue);
}

.text-secondary-dark {
    color: var(--secondary-dark);
}

.text-accent-dark {
    color: var(--accent-dark);
}

.link-light {
    color: var(--primary-white);
}

.link-accent-blue {
    color: var(--accent-blue);
    text-decoration: none;
}

.link-accent-blue:hover {
    opacity: 0.8;
}

.border-light {
    border-color: var(--primary-white);
}

.dynamic-height-line-limit-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.fixed-height-line-limit-3 {
    line-height: 1.2em;
    height: 3.6rem;
    overflow: hidden;

    /* add the 'text-overflow: ellipsis' effect */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.bg-card-blue {

    background-image: linear-gradient(var(--primary-yellow), var(--accent-blue));

    .card-body {

        .card-title {
            color: var(--primary-white);
        }

        .card-text {
            font-weight: 600;
            font-size: small;
            color: var(--accent-dark);
        }

        div {

            div:nth-of-type(1) {

                i {
                    color: var(--primary-dark);
                }
            }

            div:nth-of-type(2) {

                i:nth-of-type(1) {
                    color: var(--accent-dark);
                }

                i:nth-of-type(2) {
                    color: var(--accent-dark);
                }

                span {
                    font-weight: 600;
                    font-size: small;
                    color: var(--accent-dark);
                }
            }
        }
    }
}

.bg-card-dark-blue {

    background-color: var(--primary-dark-blue);

    .card-body {

        .card-title {
            color: var(--primary-white);
        }

        .card-text {
            font-weight: 600;
            font-size: small;
            color: var(--secondary-dark);
        }

        div {

            div:nth-of-type(1) {

                i {
                    color: var(--primary-white);
                }
            }

            div:nth-of-type(2) {

                i:nth-of-type(1) {
                    color: var(--secondary-yellow);
                }

                i:nth-of-type(2) {
                    color: var(--primary-green);
                }

                span:nth-of-type(1) {
                    font-weight: 600;
                    font-size: small;
                    color: var(--secondary-yellow);
                }

                span:nth-of-type(2) {
                    font-weight: 600;
                    font-size: small;
                    color: var(--primary-green);
                }
            }
        }
    }
}

.bg-gradient-blue {
    background-image: linear-gradient(to right, var(--secondary-blue), var(--secondary-dark-blue), var(--primary-black));
}

.modal-content {
    background-color: var(--primary-dark);
    border-color: var(--accent-blue);
    border-width: 2px;

    .modal-header {
        border-bottom: none;
        color: var(--accent-blue);
    }

    .modal-body {
        color: var(--primary-white);
    }

    .modal-footer {
        border-top: none;
    }
}


@media (max-width: 360px) {

    .fixed-height-line-limit-3 {
        line-height: 0.8rem;
        height: 1.6rem;
        overflow: hidden;
    
        /* add the 'text-overflow: ellipsis' effect */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    
    .card-body {

        .card-title {
            font-size: 0.7rem;
        }

        .card-text {
            font-size: 0.6rem !important;
            margin-bottom: 0.1rem !important;
        }

        div {

            div:nth-of-type(1) {

                i {
                    font-size: 0.8rem;
                    margin-right: 2px;
                }
            }

            div:nth-of-type(2) {

                i:nth-of-type(1) {
                    font-size: 0.6rem;
                }

                i:nth-of-type(2) {
                    font-size: 0.6rem;
                }

                span:nth-of-type(1) {
                    font-size: 0.6rem !important;
                    margin-right: 2px !important;
                }

                span:nth-of-type(2) {
                    font-size: 0.6rem !important;
                }
            }
        }
    }
}

@media (min-width: 480px) {

    .fixed-height-line-limit-3 {
        line-height: 1.1rem;
        height: 2.2rem;
        overflow: hidden;
    
        /* add the 'text-overflow: ellipsis' effect */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    
    .card-body {

        .card-title {
            font-size: 0.9rem;
        }

        .card-text {
            font-size: 0.75rem !important;
            margin-bottom: 1rem !important;
        }

        div {

            div:nth-of-type(1) {

                i {
                    font-size: 1.2rem;
                    margin-right: 2px;
                }
            }

            div:nth-of-type(2) {

                i:nth-of-type(1) {
                    font-size: 1rem;
                }

                i:nth-of-type(2) {
                    font-size: 1rem;
                }

                span:nth-of-type(1) {
                    font-size: 1rem !important;
                    margin-right: 5px !important;
                }

                span:nth-of-type(2) {
                    font-size: 1rem !important;
                }
            }
        }
    }
}